.navbar {
  &__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
    padding: 0 7rem;
    @media (max-width: 1025px) {
      gap: 3rem;
      padding: 0 3rem;
    }
    @media (max-width: 768px) {
      gap: 1.5rem;
      padding: 0 1.5rem;
    }
    background: $bg-secondary;
    color: $text-default;
    font-size: 1rem;
  }

  &__logo {
    &-link{
      text-decoration: none;
      color: $text-default;

      &:hover{
        color: lighten($text-default, 25%);
      }
    }
  }

  &__center {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__categories {
    position: relative;
    cursor: pointer;
    padding: 0.5rem 0;

    &:hover {
      color: lighten($text-default, 25%);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__search {
    flex-grow: 1;
    padding: 0.5rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    background-color: $bg-tertiary;
    color: $text-default;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin: 1rem 0;

    &:focus {
      outline: none;
      border: 0.1rem solid $text-default;
    }
  }

  .navbar__new-thread-link {
    cursor: pointer;
    padding: 0.475rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    color: $text-default;
    font-size: 1rem;
    text-decoration: none;
    background-color: $bg-tertiary;
    @media (max-width: 768px) {
      display: none;
    }

    &:active {
      color: lighten($text-default, 25%);
      background-color: lighten($bg-tertiary, 25%);
    }

    span {
      margin-left: 0.5rem;
    }
  }

  .navbar__auth {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__profile {
    position: relative;
    cursor: pointer;

    &-photo {
      height: 3rem;
      border-radius: 50%;
    }
  }

  &__auth-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &-item {
      text-decoration: none;
      color: $text-default;

      &:hover{
        color: lighten($text-default, 25%);
      }
    }
  }

  &__hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0.8rem;
    color: $text-default;
    background-color: $bg-secondary;
    cursor: pointer;
    border-radius: 0.5rem;
    position: relative;
  }

  &__mobile {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: block;
    @media (min-width: 768px) {
      display: none;
    }

    &-menu {
      display: flex;
      flex-direction: column;
      padding: 0.8rem;
      gap: 0.8rem;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: $bg-secondary;
      border-radius: 0.5rem;

      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;
      }

      &-item {
        width: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        text-decoration: none;
        color: $text-default;
        cursor: pointer;
        text-align: center;

        span {
          font-size: 0.6rem;
        }
      }
    }
  }
}

.dropdown-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: $bg-tertiary;
}

.dropdown-item {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: $text-default;

  &:hover {
    background-color: lighten($bg-tertiary, 10%);
  }
}



